<header id="home-section" class="mb-4">
  <div class="dark-overlay">
      <div class="home-inner container">
          <div class="row">
              <div class="col-lg-8 d-none d-lg-block mt-5">

                  <h1 class="display-4 text-light">
                      Start search on your <strong>first product</strong> and <strong> get discount today</strong>
                  </h1>

                  <div class="d-flex">
                      <div class="p-4 align-self-start">
                          <i class="fas fa-check fa-2x text-light"></i>
                      </div>
                      <div class="p-4 align-self-end text-light">
                          Simple registration will only take a few seconds to complete and login right away
                      </div>
                  </div>

                  <div class="d-flex">
                      <div class="p-4 align-self-start">
                          <i class="fas fa-check fa-2x text-light"></i>
                      </div>
                      <div class="p-4 align-self-end text-light">
                          Start interacting with other sellers and build connections as you buy more products
                      </div>
                  </div>

                  <div class="d-flex">
                      <div class="p-4 align-self-start">
                          <i class="fas fa-check fa-2x text-light"></i>
                      </div>
                      <div class="p-4 align-self-end text-light">
                          Get featured in our most purchased products section when your account gets lot of products
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 mt-5">
                  <div class="card bg-muted text-center card-form">
                      <div class="card-body">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>
