.card{
  margin-right: 40px;
  margin-top: 50px;
}



#storeInfo{
  text-align: center;
}

#storeInfo img{
  width: 15rem;
  height: 10rem;
}

#productImg{
  width: 10rem;
  height: 8rem;
  box-shadow: inset;
}
